:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* User-theme */
  color-scheme: light;

  --metalic-red-color: #C41E3A;
  --burgundy-red-color: #800020;
  --apple-red-color: #FF0800;

  --purple-color: #191970;
  --black-color: #000000;

  --white-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}