:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* User-theme */
  /* color-scheme: light; */

  --bg-color: #303030;

  --c-red: #C41E3A;
  --c-green: #00BC8C;
  --c-purple: #375A7F;
  --c-black: #000000;

  --white-color: #FFFFFF;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}